{% extends "hand_app\base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
  {% block title %} Login {% endblock %}
</head>
<body>
  {% block login %}
  <div class="form-container">
    <h2>Đăng nhập</h2>
    <div>
      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <form action="/login/" method="POST" class="box">
      {% csrf_token %}
      
      <div class="form-input">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>

      <div class="form-input">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>

      <input type="hidden" name="next" value="/" />
      <input type="submit" value="ĐĂNG NHẬP" class="btn btn-outline-success"/>
      <p>Chưa có tài khoản? <a href="/register" class="link-offset-2 link-underline link-underline-opacity-0">Đăng Ký</a></p>
    </form>
  </div>
  {% endblock %}
</body>
</html>
